# Feature Verification #

Features were tested using a mindmap

![http://www.upload.ee/image/2862136/MindMap.png](http://www.upload.ee/image/2862136/MindMap.png)
[Link to image](http://www.upload.ee/image/2862136/MindMap.png)

http://www.upload.ee/files/2862138/OS_Blog_Aggregator.xmind.html

## Verification process ##

  * Application displays Blogs
    1. User can view their blogs on the main page
    1. User can view their blog lists on the main page
    1. User can see blogs/blog lists sorted by their date
    1. [User can choose which list to display on Home page](SwitchingBlogs.md)

  * User management
    1. User can login with google account [User can log in using google account](LoggingIn.md)

  * Tags are used
    1. [Blogs can be tagged manually](AddingTags.md)
    1. Tags will be used when suggesting other users relevant blogs

  * Blog lists/ Blogs can be managed
    1. User can One-Click import Google Reader lists
    1. [User can add bloglists](AddingBlogList.md)
    1. User can [add](AddBlogsURL.md) and [remove](RemovingBlogs.md) individual blogs
    1. [User can edit and delete blog lists](RemovingBlogLists.md)
    1. User can mark blogs as recommended.

  * Blog lists are public

  * Application suggests new blogs
    1. Users are suggested blogs using tags
    1. Users are suggested using their popularity
    1. User's suggestions are based on user’s blogs
    1. User will see blogs show up on My Blogs
    1. If the suggestion engine doesn’t find any relevant blogs according to the user interests then posts from Top Blogs are suggested

  * Able to manage blog list sharing
    1. User is able to recommend list.
    1. User is able to share the list by link