@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #FFFFFF;
	font-family: Arial, Sans-Serif;
	width: 100%;
	height: 100%;
	position: relative;
}

nav {
	margin-top: 15px;
}


a {
	text-decoration: none;
	color: black;
}

a:HOVER {
	text-decoration: underline;
}

header {
	padding: 15px;
	background-color: white;
	width: 98%;
	text-align: center;
	height: 140px;
	z-index: 2;  
}

footer {
	text-align: center;
	font-size: 0.8em;
}

#main {
	width: 100%;
}

#left {
	text-align: center;
	padding-bottom: 15px;
	height: 87%;
	width: 75%;
}

#right {
	text-align: left;
	width: 21%;
	position: fixed;
	top: 200px;
	right: 10px;
}

.add {
	color: #666666;
	font-size: 0.75em;
}

.horDiv {
	width: 50%;
    margin: 0px auto;
}

.vertDiv {
	float: left;
}

#postContainer {
	width: 900px;
	margin:0px auto;
}

#blogsContainer {
	width: 900px;
	margin:0px auto;
	background: #FAFAFA;
	border-radius: 10px;
	padding : 25px;
}

.blogpost {
	position: relative;
	margin: 25px;
	padding: 20px;
	height: 120px;
	text-align: justify;
	overflow: hidden;
	border-radius: 10px;
}

.blogpost_image {
	margin-right: 10px;
	float: left;
	height: 100px;
	max-width: 150px;
}

.blogpost_source {
	font-family: Arial;
	font-weight: normal;
	font-size: 0.75em;
	color: #666666;
}

.blogpost:nth-child(even) {
	background: #EEEEEE;
}

table {
	width: 100%;
}

tr:nth-child(even) {
	background: #FFFFFF;
}
tr:nth-child(odd) {
	background: #78b5d1;
}

.more {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 0.75em;
	color: #666666;
}

.less {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 0.75em;
	color: #666666;
}

.lower {
	font-size: 0.75em;	
}



h2 {
	text-align: left;
}

.open {
	width: 15px;
}

.blog {
	display: none;
}

.blogname {
	padding-left: 15px;
}

table tr td {
	border: 0px solid black;
}

table {
	border-collapse: collapse;
}

.name {
	width: 720px;
}

#darken {
	display: none;
	position: absolute;
	width:100%;
	height: 100%;
	background-color:#000000;
	z-index: 5;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

#addBlogWindow {
	display: none;
	position: absolute;
	text-align: center;
	width:550px;
	height: 70px;
	top: 45%;
	margin-top: -35px;
	left: 50%;
	margin-left: -275px;
	background-color:#8ed7f9;
	border: 2px solid #000000;
	box-shadow: 8px 8px 40px #000000;
	z-index: 7;
}

.bloglistbuttons a {
	position: relative;
	bottom: 3px;
}

.blogButtons a {
	margin: 2px;
}

.ui-button-text {
	font-size: 0.75em;
}

.bloglistbuttons {
	float: right;
}

.ui-dialog .ui-button-text {
	font-size: 1em;
}

#addlist .ui-button-text {
	font-size: 1em;
}

#dialogAddMultipleBlogs input{
	display: inline;
}

.tags .ui-button-text {
	font-size: 0.75em;
}

.tags a {
	position: relative;
	bottom: 3px;
}

#editTagsUL .ui-button-text {
	font-size: 0.75em;
}

.tagRemove {
	position: relative;
	bottom: 3px;
}

#selection {
	width: 250px;
}

.tags input , .tags label{
	display: inline-block;
}

#editTagsUL li {
	line-height: 2em;
}

#editIntrests {
	float: right;
	font-size: 1.5em;
}

#tabs-1-ol, #tabs-2-ol {
	position: relative;
	left: 15px;
	line-height: 2em;
}

.blogs { font: 62.5% "Arial", sans-serif; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0em; }














